<h2>Hola {{user.name}} {{user.lastname}}</h2>

  <div class="ticket">
    <h1>Ticket</h1>
    <div class="ticket-details">
      <p><strong>Purchase code:</strong> {{renderTicket.code}}</p>
      <p><strong>Purchase date:</strong> {{renderTicket.purchase_datetime}}</p>
      <p><strong>Total:</strong> ${{renderTicket.ammount}}</p>
      <p><strong>Email:</strong> {{renderTicket.purchaser}}</p>
    </div>
  </div>

<p>Continue buying</p>
<a href="/products"><button>Products</button></a>

<p>Go to profile</p>
<a href="/profile"><button>Profile</button></a>

